    <div class="container">

		<h1>Stock Notify Application</h1>
		<br />
		<p>I created this application to notify me when stocks went above or below set prices. While I am interested in investing, and sometimes focus regularly, life can intervene meaning I don't have time to check price movements every day/week/etc. In order to not get caught out while working on other projects Stock Notify checks the prices every 15 minutes to see if the value has fallen below a floor that I've set (e.g. 10% below current price). If Stock Notify determines that the set condition has occured it notifies me by email, SMS or a phone call with the details. I can then check to see if I need to take action. It can also identify selling opportunities when a stock has gone above a certain level. </p>
        <br />
        <p>If you have any questions you can contact me at willwallis@gmail.com</p>
	
    </div> <!-- /container -->
